{% extends "base.html" %}

{% block title %}{{ title }} - {% endblock %}

{% block content %}
    <article>
        <h1>{{ title }}</h1>
        <div class="meta">
            <span>Published on {{ date }}</span>
            {% if tags %}
            <span class="post-tags">
                {% for tag in tags %}
                <a href="tags.html#{{ tag }}">#{{ tag }}</a>
                {% endfor %}
            </span>
            {% endif %}
        </div>
        <div class="content">
            {{ content }}
        </div>
    </article>
{% endblock %}
