{% extends "base.html" %}

{% block title %}Tags - {% endblock %}

{% block content %}
    <h1>Blog Tags</h1>
    {% for tag, posts in tags %}
    <section class="tag-group">
        <h2 id="{{ tag }}"># {{ tag }}</h2>
        <ul class="post-list">
            {% for post in posts %}
            <li>
                <span class="post-date">{{ post.date }}</span>
                <a href="{{ post.slug }}">{{ post.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </section>
    {% endfor %}
{% endblock %}
